* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  width: 300vw;
  align-items: center;
  justify-content:center ;
  position: relative;
}

.options-navbar {
  width: 100vw;
  height: 6vw;
  position: static;
  
}
.navbar {
  position: relative;
  background: #fca650;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1728px;
  height: 146px;
  position: absolute;
  left: 0px;
  top: 14px;
}
.logo {
  width: 255px;
  height: 148px;
  position: absolute;
  left: 73px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

.ofertas {
  color: #ececec;
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 808px;
  top: 46px;
  width: 142px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trabalhe-conosco {
  color: #ececec;
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 944px;
  top: 46px;
  width: 270px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.produtos {
  color: #ececec;
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 1214px;
  top: 46px;
  width: 200px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-28 {
  width: 200px;
  height: 107px;
  position: static;
}

.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 79.03px;
  height: 0px;
  position: absolute;
  left: 1523px;
  top: 127.03px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}

.sign-login .options-{
  color: #ececec;
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 1513px;
  top: 29px;
  width: 200px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}
