.group-31,
.group-31 * {
  box-sizing: border-box;
}
.group-31 {
  height: 30px;
  position: relative;
}
.rectangle-3 {
  background: #f2f2f2;
  border-radius: 13px;
  width: 445px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0;
}
.lock {
  width: 43px;
  height: 44px;
  position: absolute;
  left: 18px;
  top: 5px;
  object-fit: cover;
}
.eye {
  width: 9.66%;
  height: 67.19%;
  position: absolute;
  right: 5.17%;
  left: 85.17%;
  bottom: 23.44%;
  top: 9.38%;
  object-fit: cover;
}
