.group-30,
.group-30 * {
  box-sizing: border-box;
}
.group-30 {
  height: 64px;
  position: relative;
}
.rectangle-2 {
  background: #f2f2f2;
  border-radius: 13px;
  width: 445px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.user-male {
  width: 43px;
  height: 44px;
  position: absolute;
  left: 18px;
  top: 10px;
  object-fit: cover;
}

